In [5]:
%matplotlib inline

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as ols

plt.style.use('seaborn') # pretty matplotlib plots

plt.rc('font', size=14)
plt.rc('figure', titlesize=18)
plt.rc('axes', labelsize=15)
plt.rc('axes', titlesize=18)

In [2]:
df = pd.read_csv('analytic.csv')
df.head(3)

,Unnamed: 0,VETERAN3,ALCDAY5,SLEPTIM1,ASTHMA3,X_AGE_G,SMOKE100,SMOKDAY2,SEX,X_HISPANC,...,INC4,INC5,INC6,INC7,BMICAT,UNDWT,OVWT,OBESE,EXERANY3,NOEXER
0,6,1,888,7,1,6,2.0,NaN,1,2,...,0,0,1,0,4,0,0,1,1,0
1,10,1,203,8,2,3,1.0,2.0,1,2,...,0,0,0,1,3,0,1,0,1,0
2,15,1,888,8,2,6,1.0,3.0,1,2,...,0,1,0,0,3,0,1,0,1,0

In [8]:
df['intercept'] = 1.0

## Hypothesis

_**In Veterans, drinking alcohol is associated with Asthma**_

<img src="img/LR-Reporting.png" width="600"/>

In [9]:
model1 = ols.Logit(df.ASTHMA4, df[['intercept','DRKMONTHLY', 'DRKWEEKLY']])
result1 = model1.fit()
result1.summary()

Optimization terminated successfully.
         Current function value: 0.306438
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                ASTHMA4   No. Observations:                58131
Model:                          Logit   Df Residuals:                    58128
Method:                           MLE   Df Model:                            2
Date:                Tue, 12 Mar 2019   Pseudo R-squ.:                0.001641
Time:                        18:37:20   Log-Likelihood:                -17814.
converged:                       True   LL-Null:                       -17843.
                                        LLR p-value:                 1.919e-13
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept     -2.3998      0.038    -63.968      0.000      -2.473      -2.326
DRKMONTHLY     0.0075      0.045      0.169      0.865      -0.080       0.095
DRKWEEKLY      0.2253      0.043      5.275      0.000       0.142       0.309
==============================================================================
"""

In [11]:
# odds ratios and 95% CI
params = result1.params
conf = result1.conf_int()
conf['OR'] = params
conf.columns = ['2.5%', '97.5%', 'OR']
print np.exp(conf)

                2.5%     97.5%        OR
intercept   0.084306  0.097662  0.090739
DRKMONTHLY  0.923368  1.099460  1.007575
DRKWEEKLY   1.152108  1.362093  1.252708

DRKWEEKLY is significant. But, DRKMONTHLY is not

Use similar procedure as that of linear regression to stepwise add and remove variables. Refer Logistic Model Metadata_Complete.xlsx for all steps towards final model.